<section class="container my-3" id="add-worker">  
    <div class="container">
        <form [formGroup]="myForm">

            <div class="row pad">
            <div class="col-md-6">
                <mat-form-field style="color: black" class="w-100">
                    <mat-select  formControlName="position_id" placeholder="Position">
                        <mat-option *ngFor="let item of resultPosition" [value]="item.id">
                        {{item.title}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="myForm.get('position_id').hasError('required')">
                        Required Field
                   </mat-error>
                </mat-form-field>

                


        </div>
    </div>
  
    <div class="row pad">
                <div class="col-md-6">
                    <mat-form-field style="color: black" class="w-100">
                        <mat-label> Worker Name</mat-label>
                        <input matInput placeholder="ex. Worker Name" formControlName="name">  
                        <mat-error *ngIf="myForm.get('name').hasError('required')">
                            Required Field
                        </mat-error>
  
                    </mat-form-field>
                </div>
            </div>

            <div class="row pad">
                <div class="col-md-6">
                    <mat-form-field style="color: black" class="w-100">
                        <mat-label> Worker Salary</mat-label>
                        <input matInput placeholder="ex. Worker Salary" formControlName="salary">  
                        <mat-error *ngIf="myForm.get('salary').hasError('required')">
                            Required Field
                        </mat-error>
  
                    </mat-form-field>
                </div>
            </div>
  
        </form>
  
        <div class="sub-section mb-5">
            <button [disabled]="!myForm.valid" type="submit" class="btn btnStyle w-25 mt-3" href="#exampleModalCenterWorker" uk-toggle>
        Save </button>
  
            <div id="exampleModalCenterWorker" class="uk-flex-top " uk-modal>
                <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                    <div class="modal-header">
                        <h2 class="uk-modal-title">Add Worker </h2>
                    </div>
  
                    <div  class="uk-modal-body"  uk-overflow-auto >
                        <p>Are you sure to add this Worker ?</p>
                    </div>
  
                    <div class="modal-footer">
                        <button type="submit" class="btn btnStyle mx-2" href="#modal-alert-create-worker" uk-toggle (click)="addWorker()">
              Yes </button>
                        <button type="button" class="btn btn-secondary uk-modal-close "> No </button>
  
                    </div>
                </div>
            </div>
  
            <!-- modal-alert-create -->
            <div id="modal-alert-create-worker" class="uk-flex-top " uk-sticky data-bg-close="false" data-esc-close="false" uk-modal>
                <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                    <div class="uk-modal-header">
                        <h2 class="uk-modal-title"><i class="fas fa-exclamation-triangle"></i> Alert</h2>
                    </div>
  
                    <div class="uk-modal-body text-center">
                        <h3 class='responseMessage'>
  
                        </h3>
                    </div>
  
                    <div class="modal-footer">
                        <button *ngIf="successfullFlag" type="submit" class="btn btnStyle uk-modal-close" (click)="reload()">
              Ok
            </button>
  
                        <button *ngIf="!successfullFlag" type="submit" class="btn btn-secondary uk-modal-close">
              Cancel
            </button>
                    </div>
  
                </div>
            </div>
        </div>
    </div>
  </section>